.header {
    padding: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color:$orange-light ;
    border-bottom: 5px transparent;
    border-radius: 0 0 35% 35%;

    &__login__button{
        color: black;
    }
    &__signout__button{
        color: black;
    }

}
