.header {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: $orange-light; 
        &__title {
            font-family: $fonts-family-title;
            font-size: 2em;
            color: #D57100; 
            font-weight: bold; 
        }
        &__navbar{
            
        }
        &__login {
          
        }
        
}