.header {
    padding: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: $orange-light;
    border-bottom: 10px transparent black;
    border-radius: 0 0 35% 35%
}
