.main__articles {
    text-align: center;

    &__content {
        padding: 1rem;
        border-bottom: 1px solid black;
    }
    &__content:last-child{
        border-bottom: 0px;
    }
    &__content__title {
        padding-bottom: 1rem;
    }

}