.register{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    input{
        
        display: flex;
        background-color: white;
        padding: 0.7rem;
        border: 2px solid $blue-light;
        border-radius: 30px !important;
        align-self: center;
    }
    /*  Title of input */
    label{
        font-family: $normal-font-family;
        font-weight: bold;
        color: $orange-brown;
    }
    /*  Title "Moi"*/
    .user_title{
        font-family: $fonts-family-title;
        font-weight: bold;
        font-size: 20px;
        border-radius: 30px !important;
        background-color: $blue-light;
        border: 1px transparent;
        box-shadow: 0px 2px 2px black;
        width: 50vw;
        padding: 0.7em;
        margin-bottom: 1em;
        align-self: center;
        text-align: center;
    }
    select{
        display: block;
        background-color: white !important;
        padding: 0.7rem;
        border: 2px solid $blue-light;
        border-radius: 30px !important;  
    }
    
    
}
/*  Title "Mon animal"*/
.user-registration {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .animal_title{
        font-family: $fonts-family-title;
        font-weight: bold;
        font-size: 20px;
        border-radius: 30px !important;
        background-color: $blue-light;
        border: 1px transparent;
        box-shadow: 0px 2px 2px black;
        width: 50vw;
        padding: 0.7em;
        margin-bottom: 1em;
        text-align: center;
    }
    
    button {
        font-family: $fonts-family-title;
        font-weight: bold;
        background-color: $blue-light;
        padding: 0.7rem;
        margin: 1rem;
        border-radius: 30px;
        border: 1px transparent;
        box-shadow: 0px 2px 2px black;
        width: 100%; 
    }
    
}
/*  Title of page registration*/
.title_registration {
    color: $orange-darken;
    font-family: $normal-font-family;
    font-weight: bold; 
    font-size: 1.5rem;
    text-align: center;
    padding: 1em;
}