.account {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    &__title {
        font-family: $fonts-family-title;
        font-weight: bold;
        background-color: $blue-light;
        padding: 0.7rem;
        margin: 1rem;
        border-radius: 30px;
        border: 1px  transparent;
        box-shadow: 0px 2px 2px black;
        width: 50%;
    }
    &__info__title {
        font-family: $fonts-family-title;
        font-weight: bold;
        background-color: $blue-light;
        padding: 0.7rem;
        margin: 1rem;
        border-radius: 30px;
        border: 1px  transparent;
        box-shadow: 0px 2px 2px black;
        width: 50%;
    }
    &__info{
        font-family: $fonts-family-title;
        font-weight: bold;  
    }
    &__avatar{
        border-radius: 20px;
        padding: 0.7rem;
        margin-bottom: 1em;
        border: 2px solid $blue-light;
    }
    &__form__button{
        font-family: $fonts-family-title;
        font-weight: bold;
        background-color: $blue-light;
        padding: 0.7rem;
        margin: 1rem;
        border-radius: 30px;
        border: 1px transparent;
        box-shadow: 0px 2px 2px black ;
    }

    

}

#select-buttons{
    display: flex;
    justify-content: center;

    button {
        
        width: 20%;
    }
}
