.modal {
   // display: none;
    width: auto;
    position: fixed;
    top: 10em;
    left: 10em;
    z-index: 50;
    background-color: blue;
    padding: 2em;
    margin: 2em;
    align-self: center;
}