.category_banner {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
    

}
.evenements {
    background-color: transparentize($orange-light, 0.4);
}

.petsitting {
    background-color: transparentize($blue-light, 0.4);
}


