.contact-form{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    align-items: center;    
    &__title{
        color: $orange-darken; 
        font-size: 1.5rem;
    }
    &__button {
        @extend .header__login__button
    }
    &__input {
        outline: none;
    }
    
}