.main__articles__first {    
    text-align: center;
    padding-bottom:1.5rem ;
    background-position: center center;
    background-size: cover;
    &__title {
        padding-top: 1rem;
        padding-bottom: 1rem; 
        color: black;
        font-weight: bold;
        font-size: 2rem;       
    }
    &__content {
        height: 30vh;
        padding: 0 1rem;
    }
}