
    .main__articles{
    text-align: center;
        &__content{
        height: 50vh; 
        position: relative;
        padding: 3em;
        background-position: center;
        background-size: cover;
        z-index:10;
        border-spacing: 50px;

            &__title{
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 1em;
                padding: 1rem;
                color: white;
                border: 2px solid white; 
                background-color: transparentize($blue-light, 0.2);
                border-radius: 30px;
                font-family: $normal-font-family;
            }
             
                 a{
                display: inline-block;
                color: white;
                font-weight: bold;
                margin-top:  150px;
                padding: 0.5rem;
                border: 2px solid white; 
                background-color: transparentize($blue-light, 0.2);
                border-radius: 30px;
                &:hover{
                    background-color: $orange-light;}
                 
                 }
                 &__archive{
                    height: 100vh; 
                    position: relative;
                    padding: 3em;
                    background-position: center;
                    background-size: cover;
                    z-index:10;
                    background-repeat: no-repeat;
                    width: 100%;
                }

    }

    
    



    }
        




    
    
 

    

















