.main__articles {
    text-align: center;

    &__content__archive  {
        height: 100vh; 
        position: relative;
        padding: 3em;
        background-position: center;
        background-size: cover;
        z-index:10;
        background-repeat: no-repeat;
        width: 100%;
    }  
    &__content {        
        height: 50vh; 
        position: relative;
        padding: 3em;
        background-position: center;
        background-size: cover;
        z-index:10;
        &__title {
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 1em;
            padding-bottom: 0.3em;
        }    
        &::after {
            content: '';
            background-color: red;
            opacity: 0.8;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            transition: opacity $duration-medium;
        }    
        @each $index, $color in $posts-bg-colors {
            &:nth-child(6n + #{$index})::after {
                background-color: $color;
            }
        }    
        &:hover::after {
            background-color: black;
            opacity: 0.3;
        }
    }
    &__content:last-child{
        border-bottom: 0px;
    }    
    &__content__title {
        padding-bottom: 1rem;
        color: white;
        font-weight: bold;
        font-size: 2rem;
    }
}