.main__presentation {
    
display: flex;
flex-direction: column;
@media(min-width: $breakpoint-large) {
display: flex;
flex-direction: row;
}

    &__picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    @media(min-width: $breakpoint-large) {
     img{
        height: 500px;
        width: 500px; 
     }   
    
    
    }
    }

    &__content{
    padding: 1 1.5rem;
    @media(min-width: $breakpoint-large) {
    height: 50%;
    width: 50%;
    
    }    
        .main__presentation__title {
        padding: 2rem;
        text-align: center;
        color: $orange-darken;
        font-weight: bold;
        font-size: $extra-large-font-size;
        }

        .main__presentation__text {
        font-family: $normal-font-family;
        text-align: justify;
        padding: 30px;
            }

    }

}

