.main__presentation {
    
display: flex;
flex-direction: column;
@media(min-width: $breakpoint-large) {
display: flex;
flex-direction: row;
margin-top: 0.5em;
margin-bottom: 3em;
}

    &__picture{
    display: block;
    margin-left: 40%;
    margin-top: 5%;
    img {
    width: 35%;
    
    }
    @media(min-width: $breakpoint-large) {
    width: 50%;
    margin-left: 0%;
      img {
        height: 100%;
        width: 50%; 
        margin-left: 12em;
        margin-right: 3em;
      }
    
    }
    }
    &__content{
    padding: 1 1.5rem;
    @media(min-width: $breakpoint-large) {
    height: 50%;
    width: 50%;
    
    }    
        .main__presentation__title {
        padding: 2rem;
        text-align: center;
        color: $orange-darken;
        font-weight: bold;
        font-size: $extra-large-font-size;
        }

        .main__presentation__text {
        font-family: $normal-font-family;
        color: $orange-brown;
        font-weight: bold;
        text-align: center;
        padding: 30px;
            }

    }

}

