.contact {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    &__title {
        text-align: center;
        font-family: $fonts-family-title;
        font-weight: bold;
        background-color: $blue-light;
        padding: 0.7rem;
        margin: 1rem;
        border-radius: 30px;
        border: 1px  transparent;
        box-shadow: 0px 2px 2px black;
        width: 70%;
    }
}
.ur-frontend-form {
    border: none;
}
.wpcf7-form-control {
    font-family: $fonts-family-title;
    font-weight: bold;
    background-color: $white;
    padding: 0.7rem;
    margin: 1rem;
    border-radius: 30px;
    border: 1px transparent;
    box-shadow: 0px 2px 2px black ; 
    text-align: center;
    outline: none;
}
.wpcf7-submit  {
    font-family: $fonts-family-title;
    font-weight: bold;
    background-color: $blue-light;
    padding: 0.7rem;
    margin: 1rem;
    border-radius: 30px;
    border: 1px transparent;
    box-shadow: 0px 2px 2px black;
} 