html {
    font-size: $normal-font-size;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $orange-darken;
}

.is-active {
    display: block;
}

.is-hidden {
    display: none;
}