/vendor
/wp
/wp-config.php
/content/plugins/*
!/content/plugins/betecommetou-plugin
!/content/plugins/betecommetou-newsletter
/content/themes/*
/content/languages
/content/upgrade
/content/uploads
!/content/themes/Betecommetou
/content/themes/Betecommetou/public
/content/themes/Betecommetou/node_modules
